.wild-pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-right: 0.7em;
  background-color: rgb(145, 75, 177);
  border-top-left-radius: 1em;
  overflow: scroll;
}